// Remove the ugly default styles from the button
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  border: 0;
  background: 0;
  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:focus,
  &:active {
    background: none;
    border-color: inherit;
    border-radius: 0;
  }
}
